 
.login-container {
  background-color: #e7a2ff;
}

.login-page {
  display: flex;
  justify-content: center;
  max-width: 1170px;
  margin: 0px auto;
  padding: 125px 15px;
} 

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
}

.login-form h4 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  color: black;
}

.login-form h4 span {
  text-decoration: underline;
  color: #5e278e;
}

.login-form input {
  margin-top: 25px;
  width: 55%;
  text-align: center;
  font-size: 18px;
  font-family: 'Raleway', sans-serif !important;
  border: none;
  border-radius: 25px;
  outline: none;
  padding: 8px 15px;
  color: rgba(0, 0, 0, 0.9);
  background-color: white;
  transition: 0.3s ease;
}

.login-form button {
  margin-top: 30px;
  padding: 10px 25px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  color: white;
  border: 1px solid #5e278e;
  border-radius: 25px;
  background-color: #5e278e;
  transition: 0.7s ease;
}

.login-form button:hover, .login-form button:focus {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.645);
  border: 1px solid white;
}

.login-form button:focus {
  transform: scale(0.95, 0.95);
}


